package pl.kk.program;

import pl.kk.annotations.Run;
import pl.kk.tester.Tester;

public class App {

    public static void main(String[] args) throws java.lang.Exception {
        System.out.println("Does it work???????");
        new Tester().process(Tested.class, Run.class);
    }
}